<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}默认标题{% endblock %} </title>
</head>

<body>
    <!-- 教程列表：
    {% for i in TutorialList %}
    {{ i }}
    {% endfor %} -->

    <!-- site:{{info_dict.site}}
    content:{{info_dict.content}}

    {% for key,value in info_dict.items %}
    {{key}}: {{value}}
    {% endfor %} -->
    <!-- 
    {% for item in lis %}
    {{ item }}{% if not forloop.last %},{% endif %}
    {% endfor %} -->

    {{request.path}}
    {{request.GET.urlencode}}
    <a href="{{ request.path }}?{{ request.GET.urlencode }}&delete=1">当前网址加参数 delete</a>
    {{ request.user }}
</body>

</html>